{{#if this.shouldRender}}
  <div class="featured-categories-wrapper">
    <h3 class="section-heading">For you</h3>
    <div class="featured-categories">
      {{#if this.isLeftArrowVisible}}
        <button
          class="carousel-prev"
          type="button"
          {{on "click" this.moveLeft}}
        >
          {{d-icon "chevron-left"}}
        </button>
      {{/if}}
      {{#if this.isRightArrowVisible}}
        <button
          class="carousel-next"
          type="button"
          {{on "click" this.moveRight}}
        >
          {{d-icon "chevron-right"}}
        </button>
      {{/if}}
      <div class="featured-categories-slider">
        <div
          class="featured-categories-slider-content"
          style={{html-safe this.transform}}
        >
          {{#each this.categories as |category|}}
            <FeaturedCategoryBox @category={{category}} />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/if}}